.edge {
        padding: 40px 0;
        box-sizing: border-box;
		// .edge__items

		&__items {
            display: flex;
            gap: 20px;
            align-items: stretch;
		}

		// .edge__item

		&__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 25%;
            .img {
                max-width: 160px;
                margin: 0 auto;
                height: 80px;
                margin-bottom: 20px;
                img {
                    display: block;
                    width: 100%;
                    object-fit: contain;
                    height: 100%;
                }
            }
            h4 {
                display: block;
                margin: 0;
                font-size: var(--font-text-m);
                margin-bottom: 10px;
            }
            p {
                margin: 0;
                font-size: var(--font-text-s);
                opacity: .7;
            }
		}
}
.container {
}
.img {
}
.title {
}
