.header {
    box-sizing: border-box;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(214, 231, 253, 0) 100%);
    }

    // .header__body
    .nav-wrap {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff30;
        border-radius: 30px;
        padding: 15px 30px;
        margin-right: auto;
        background-color: #29292950;
        backdrop-filter: 20px;
        backdrop-filter: blur(10px);

        ul {
            list-style: none;

            li {
                a {
                    color: var(--color-white);
                    text-decoration: none;
                }
            }
        }
    }

    &__body {
        display: flex;
        align-items: center;
    }

    // .header__logo

    &__logo {
        margin-right: 30px;

        p {
            margin: 0;
            color: var(--color-focus);
            font-weight: 500;
            font-size: 18px;
            span {
                color: var(--color-white);
            }
        }

        a {
            color: var(--color-white);
            text-decoration: none;

        }
    }

    // .header__nav

    &__nav {
        ul {
            padding: 0;
            margin: 0;
            display: flex;

            li {
                margin-right: 15px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    // .header__action

    &__action {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 54px;
            backdrop-filter: 20px;
            backdrop-filter: blur(10px);
            height: 54px;
            border-radius: 50%;
            background-color: #29292950;
            backdrop-filter: 20px;
            color: #fff;
            border: 1px solid #ffffff30;

            svg {
                display: block;
                opacity: .8;
                width: 25px;
                height: 25px;
            }
        }
    }

    .cart-btn {}
}

.container {}