.hero {
    padding: 80px 0;
    box-sizing: border-box;
    max-width: 100vw;
    overflow: hidden;

    .swiper {
        overflow: visible;

        .hero-pagination {
            width: fit-content;
            margin: 0 auto;
            margin-top: 30px;

            .swiper-pagination-bullet {
                background-color: #ffffff30;
                opacity: 1;
                transition: .35s ease;
                margin: 0 2px;
                &.swiper-pagination-bullet-active {
                    background-color: var(--color-focus);
                    width: 20px;
                    border-radius: 5px;
                }
            }
        }

        .swiper-wrapper {
            overflow: visible;
            align-items: stretch;

            .swiper-slide {
                box-sizing: border-box;
                height: auto;
                padding: 40px 30px;
                border-radius: 30px;
                overflow: hidden;
                border: 1px solid #ffffff30;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right center;
                transition: .35s ease;
                opacity: .5;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #00000050;
                    z-index: 1;
                }

                &.swiper-slide-active {
                    opacity: 1;
                }

                .text {
                    max-width: 560px;
                    position: relative;
                    z-index: 2;

                    h2 {
                        font-size: var(--font-title);
                        margin: 0;
                        display: block;
                        margin-bottom: 20px;
                    }

                    h3 {
                        font-size: var(--font-text-l);
                        color: var(--color-focus);
                        margin: 0;
                        display: block;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: var(--font-text-s);

                    }

                    a {}
                }
            }
        }
    }
}

.hero-swiper {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.text {}