.repair {
    padding: 40px 0;
    box-sizing: border-box;
    // .repair__title

    &__title {
        h1 {
            display: block;
            margin: 0;

            span {
                color: var(--color-focus);
            }
        }
    }

    // .repair__body

    &__body {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    // .repair__text

    &__text {
        width: 60%;

        h2 {
            font-size: 18px;
            font-weight: 400;
            box-sizing: border-box;
            margin: 0;
            margin-bottom: 20px;
        }

        .main-btn {
            font-size: 16px;
            max-width: 320px;
            width: 100%;
            box-sizing: border-box;
        }
    }

    // .repair__img

    &__img {
        width: 40%;

        img {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }
}

.repair {

    // .repair__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .item {
            width: calc(50% - 10px);
            box-sizing: border-box;
            border: 1px solid #ffffff30;
            border-radius: 30px;
            overflow: hidden;

            &:last-child {
                width: 100%;
            }

            .title {
                text-align: center;
                padding: 15px 20px;
                box-sizing: border-box;
                background-color: var(--color-darkgray);

                h2 {
                    display: block;
                    margin: 0;
                    font-size: 32px;
                }
            }

            .img {
                display: flex;
                justify-content: center;

                img {
                    max-width: 240px;
                    width: 100%;
                }
            }

            .text {
                text-align: center;
                padding: 15px 20px;
                box-sizing: border-box;
                background-color: var(--color-darkgray);
                p {
                    font-size: 14px;
                    margin: 0;
                    margin-bottom: 10px;
                }
                
            }

            .action {
                text-align: center;
                box-sizing: border-box;
                background-color: var(--color-darkgray);
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding-bottom: 20px;
                span {
                    color: var(--color-focus);
                    font-size: 16px;
                    font-weight: 500;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                }
                .main-btn {
                    display: block;
                    max-width: 320px;
                    width: 100%;
                    
                }
            }

            .price {}

            .main-btn {}
        }
    }
}

.item {}