.container {}

.services {
    padding: 40px 0;
    box-sizing: border-box;
    // .services__title

    &__title {
        margin-bottom: 40px;
    }

    // .services__items

    &__items {
        display: flex;
        align-items: stretch;
        gap: 20px;
    }

    // .services__item

    &__item {
        width: 50%;
        padding: 15px 30px;
        background-color: var(--color-darkgray);
        border: 1px solid #ffffff10;
        overflow: hidden;
        border-radius: 30px;
        text-align: center;
        .action {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            max-width: 420px;
            width: 100%;
            margin: 0 auto 10px;
        }
        .title {
            margin-bottom: 10px;
            h3 {
                margin: 0;
                font-size: var(--font-text-l);
            }
        }
        .subtext {
            span {
                font-size: var(--font-text-s);
                opacity: .7;
            }
        }
        .img {
            height: 240px;
            img {
                display: block;
                height: 100%;
                object-fit: contain;
                width: 100%;
                max-width: 100%;
                
            }
        }
    }
}


