.single {
    padding-top: 80px;
    // .single__body

    &__body {
        display: flex;
        align-items: stretch;
    }

    // .single__img

    &__img {
        max-width: 520px;
        width: 100%;
        padding: 30px 50px;
        box-sizing: border-box;
        border: 1px solid #ffffff30;
        border-radius: 30px;
        background-color: #00000040;
        margin-right: 30px;

        .swiper {
            .swiper-slide {
                img {
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }

    // .single__slider

    &__slider {}

    // .single__text

    &__text {
        width: calc(100% - 520px);

        box-sizing: border-box;
        padding: 30px 50px;
        border: 1px solid #ffffff30;
        background-color: #00000040;
        border-radius: 30px;

        .title {
            margin-top: 10px;

            h1 {
                display: block;
                margin: 0;
                font-size: var(--font-title);
            }

            p {
                display: block;
                margin: 0;
                font-size: 14px;
                line-height: 1.4;
            }
        }

        .details {
            margin-top: 20px;

            .items {
                display: flex;
                gap: 20px;
                margin-bottom: 20px;

                .item {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;

                    svg {
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-right: 20px;
                        opacity: .5;

                    }
                }
            }
        }

        .price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;

            p {
                margin: 0;
                display: block;
                font-size: 32px;
                color: var(--color-focus);
                font-weight: 600;
                margin-right: 10px;
            }

            span {
                padding-top: 10px;
                font-size: 16px;
                opacity: .7;
                text-decoration: line-through;
            }
        }
    }

    // .single__tag

    &__tag {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            font-size: 14px;
            color: #fff;
            padding: 5px 15px;
            border: 1px solid #ffffff30;
            border-radius: 20px;

            &.green {
                background-color: #00ff2a15;
            }

            &.red {
                background-color: #ff000015;
            }
        }
    }

    .action {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
            width: 50%;
            box-sizing: border-box;
            text-align: center;

            &.main-btn {
                border: none;
            }

            &.trans-btn {
                border: 1px solid #ffffff30;
            }
        }
    }

    .row {
        margin-top: 30px;
        display: flex;
        gap: 30px;

        .col {
            width: 50%;
            box-sizing: border-box;

            .col-item {
                display: flex;
                align-items: center;

                .img {
                    height: 60px;
                    height: 60px;
                    margin-right: 20px;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                h3 {
                    margin: 0;
                    display: block;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                p {
                    margin: 0;
                    display: block;
                    font-size: 14px;
                }
            }

            .reviews {
                &__title {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    justify-content: space-between;

                    h2 {
                        font-size: var(--font-text-l);
                        margin: 0;
                        display: block;
                    }
                }

                .swiper {
                    margin-top: 20px;

                    .swiper-wrapper {
                        align-items: stretch;
                    }
                }

                .swiper-slide {
                    box-sizing: border-box;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    border: 1px solid #ffffff30;

                    border-radius: 15px;
                    background-color: #ffffff10;
                    opacity: .1;
                    transition: .35s ease;

                    .head {
                        p {
                            display: flex;
                            justify-content: space-between;

                            span {
                                &:first-child {
                                    margin-right: 20px;
                                    font-size: 18px;
                                }

                                &:last-child {
                                    font-size: 14px;
                                }

                            }
                        }

                        >span {}
                    }

                    &.swiper-slide-active {
                        opacity: 1;
                    }
                }
            }

            .chars {
                position: relative;

                &::after {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    background-image: url(/assets/imgs/back-2.png);
                    background-size: 100% auto;
                    pointer-events: none;
                    opacity: .1;
                    background-repeat: no-repeat;
                    z-index: -1;

                    background-position: right center;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        box-sizing: border-box;
                        position: relative;
                        margin-bottom: 10px;

                        p {
                            margin: 0;
                            font-size: 16px;
                        }

                        span {
                            font-size: 14px;
                            color: #fff;
                            opacity: .7;
                        }

                        &:nth-child(2n + 1) {
                            padding-right: 20px;

                            &::before {
                                content: '';
                                position: absolute;
                                right: 10px;
                                top: 0;
                                width: 1px;
                                height: 100%;
                                background-color: #fff;
                                opacity: .2;
                            }

                        }
                    }
                }

                h3 {
                    display: block;
                    margin: 0;
                    font-size: var(--font-text-l);
                    margin-bottom: 10px;
                    opacity: .7;
                }

            }

            >div {
                margin-bottom: 30px;
                box-sizing: border-box;
                border-radius: 30px;
                background-color: #00000040;
                border: 1px solid #ffffff30;
                padding: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}